@model National_Park_Blog.Models.National_Parks
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="/CSS/DetailsStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="headerinfo">
        <h1> National Park Details</h1>
    </div>
    <div id="Details_Section">
         <article class="some_details_name">
             <p>National Park Name: <span>@Model.Name</span></p>
             <p>National Park Description: <span>@Model.Description</span></p>
             <hr />
             <hr />
             @foreach (var blogContent in Model.BlogContent)
             {
                 <p>Blog Content: <span><a href="/Blog_Content_/Details/@blogContent.Id">@blogContent.BlogContentText</a></span></p>
                 <p>Blog Content Name: <span>@blogContent.BlogContentName</span></p>
                 <p>Blog Date: <span>@blogContent.BlogContentDate</span></p>
                 <hr />
             }
             <hr />
             <p><a href="/Blog_Content_/CreateByNationalParkID/@Model.Id">Add New Blog Content</a></p>
             <p><a href="/NationalParks/Index">Return to All Blogs Page</a></p>
         </article>
    </div>
</body>
</html>
